{% extends "layout.html" %}
{% block content %}
    <h1>About Honeybee</h1>
    <p>
        <u>HoneyBee Motto </u>- <br><br>
Our Company’s Motto - Dine Better with HoneyBee 

HoneyBee Mission - 
Our team at HoneyBee is dedicated to helping match users to their new favorite restaurants. <br>
HoneyBee aims at partnering with companies that collect reviews from restaurant aficionados. Our alliance begins with Yelp, an American company that develops the Yelp.com website and the Yelp mobile app. Yelp publishes crowd-sourced reviews about businesses. It also helps users get reservations. 



    </p>
{% endblock content %}
